.actions-group {
    display: flex;
    gap: 0.4rem;      /* razmak između dugmića */
    justify-content: center;
    align-items: center;
  }
  .actions-group .button {
    margin: 0 !important;  /* ukida default margine Foundation-a */
  }
  