<div class="grid-container">
  <div class="grid-x align-middle mb-2">
    <div class="cell">
      <h4>
        <strong>
          Dashboard
        </strong>
      </h4>
    </div>
  </div>




  <div class="grid-x grid-margin-x grid-margin-y">

    <!-- Radars -->
    <div class="cell small-12 medium-6 large-4">
      <div class="card" routerLink="../radars">
        <div class="card-divider text-center">
          <img src="assets/img/speed radar.png" alt="Radars" style="max-height:80px;">
        </div>
        <div class="card-section text-center">
          <h5>Total Radars</h5>
          <h3 class="primary-text" [innerHTML]="getRadarsCount()"></h3>
        </div>
      </div>
    </div>

    <!-- Owners -->
    <div class="cell small-12 medium-6 large-4">
      <div class="card" routerLink="../owners">
        <div class="card-divider text-center">
          <img src="assets/img/user.png" alt="Owners" style="max-height:80px;">
        </div>
        <div class="card-section text-center">
          <h5>Total Owners</h5>
          <h3 class="primary-text" [innerHTML]="getOwnersCount()"></h3>
        </div>
      </div>
    </div>

    <!-- Vehicles -->
    <div class="cell small-12 medium-6 large-4">
      <div class="card" routerLink="../vehicles">
        <div class="card-divider text-center">
          <img src="assets/img/car.png" alt="Vehicles" style="max-height:80px;">
        </div>
        <div class="card-section text-center">
          <h5>Total Vehicles</h5>
          <h3 class="primary-text" [innerHTML]="getVehiclesCount()"></h3>
        </div>
      </div>
    </div>

    <!-- Infractions -->
    <div class="cell small-12 medium-6 large-4">
      <div class="card" routerLink="../infractions">
        <div class="card-divider text-center">
          <img src="assets/img/infraction.png" alt="Infractions" style="max-height:80px;">
        </div>
        <div class="card-section text-center">
          <h5>Total Infractions</h5>
          <h3 class="primary-text" [innerHTML]="getInfractionsCount()"></h3>
        </div>
      </div>
    </div>

    <!-- Add New Owner -->
    <div class="cell small-12 medium-6 large-4">
      <div class="card hoverable" (click)="redirect('/owners/addOwner')">
        <div class="card-divider text-center">
          <img src="assets/img/adduser.png" alt="Add Owner" style="max-height:80px;">
        </div>
        <div class="card-section text-center">
          <h5>Add New Owner</h5>
        </div>
      </div>
    </div>

    <!-- Add New Vehicle -->
    <div class="cell small-12 medium-6 large-4">
      <div class="card hoverable" (click)="redirect('vehicles/addVehicle')">
        <div class="card-divider text-center">
          <img src="assets/img/add-car-icon.png" alt="Add Vehicle" style="max-height:80px;">
        </div>
        <div class="card-section text-center">
          <h5>Add New Vehicle</h5>
        </div>
      </div>
    </div>

    <!-- Add New Radar -->
    <div class="cell small-12 medium-6 large-4">
      <div class="card hoverable" (click)="redirect('/radars/addRadar')">
        <div class="card-divider text-center">
          <img src="assets/img/add speed radar.png" alt="Add Radar" style="max-height:80px;">
        </div>
        <div class="card-section text-center">
          <h5>Add New Radar</h5>
        </div>
      </div>
    </div>

  </div>
</div>