@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.digital-font {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #021b6c; /* neon zelena */
}


