name: CI Build and Push Images

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Install SBT
        uses: coursier/setup-action@v1
        with:
          apps: sbt

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build Spring services (Maven)
        run: |
          set -e
          mvn -f backend/eureka-server/pom.xml clean install -DskipTests
          mvn -f backend/radar-service/pom.xml clean install -DskipTests
          mvn -f backend/auth-service/pom.xml clean install -DskipTests

      - name: Build Play services (SBT)
        run: |
          set -e
          cd backend/registration-service && sbt dist && cd ../..
          cd backend/infraction-service && sbt dist && cd ../..

      - name: Build Scalatra services (SBT)
        run: |
          set -e
          cd backend/api-gateway && sbt clean compile universal:packageBin && cd ../..

      

      - name: Build and Push Docker Images
        run: |
          IMAGE_PREFIX=ghcr.io/${{ github.repository_owner }}

          docker build -t $IMAGE_PREFIX/radar-patrol/eureka-server:main ./backend/eureka-server
          docker build -t $IMAGE_PREFIX/radar-patrol/api-gateway:main ./backend/api-gateway
          docker build -t $IMAGE_PREFIX/radar-patrol/auth-service:main ./backend/auth-service
          docker build -t $IMAGE_PREFIX/radar-patrol/radar-service:main ./backend/radar-service
          docker build -t $IMAGE_PREFIX/radar-patrol/registration-service:main ./backend/registration-service
          docker build -t $IMAGE_PREFIX/radar-patrol/infraction-service:main ./backend/infraction-service
          

          docker push $IMAGE_PREFIX/radar-patrol/eureka-server:main
          docker push $IMAGE_PREFIX/radar-patrol/auth-service:main
          docker push $IMAGE_PREFIX/radar-patrol/api-gateway:main
          docker push $IMAGE_PREFIX/radar-patrol/radar-service:main
          docker push $IMAGE_PREFIX/radar-patrol/registration-service:main
          docker push $IMAGE_PREFIX/radar-patrol/infraction-service:main
          